[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=install
Comment=pre-install LibertyOS launcher
Exec=/home/liveuser/install1
Icon=/usr/share/libertyos/logo3.resized.png
Terminal=False
